*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body, html{
    background-color: papayawhip;
}
.contact-title{
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5rem;
    color: blueviolet;
    background-color:mistyrose ;
    padding: 20px 0 20px 0;
}
.contacts{
    margin-left: 10%;
    margin-top: 20px;
    font-size: 1.2rem;
}
.contacts h2{
    font-family: 'Dancing Script', cursive;
    font-size:2.2rem ;
    color: darkturquoise;
}
.contacts p{
    color: lightseagreen
}
.email h2, p{
    margin-bottom: 5%;
}
.insatgram h2, p{
    margin-bottom: 5%;
}
.greeting{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color:black;
    margin-right:5%;
    margin-top: 50px;
    margin-left: 5%;
    background-image: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,252,115,1) 100%);
    padding: 20px 10px 10px 10px;
    border-radius: 5%/10%;
    box-shadow: 3px 5px 10px lightslategray;
    margin-bottom: 50px;
}
.insatgram-pic{
    width: 300px;
    display: block;
    margin: auto;
    box-shadow:2px 3px 8px darkslategray;
}
.twitter-pic{
    display: block;
    width: 95%;
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow:2px 3px 8px darkslategray;
    
}