/* universal settings */
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
html{
    background-color:papayawhip;
}
img{
    width: 100%;
}
a {
    color: white;
    font-size: 1.1rem;
    font-family: 'Akaya Kanadaka', cursive;
    background-color: red;
    padding:3px 3px 3px 3px;
    border-radius: 5px;
}
li{
    margin-bottom: 20px;
}
p{
    margin-bottom: 3px;
    color: rosybrown;
}
h3{
    color:darkslategray ;
    font-size: .8rem;
}
 /*header*/
 .main-header{
     font-size: 1.3rem;
     font-family: 'Reggae One', cursive;
     color: blueviolet;
     text-align: center;
     background-color: mistyrose;
     margin-bottom: 20px;
     padding:10px 0 10px 0;
 }
 /*row 1*/
 .row-1{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
 }
 .row-1 img{
     width: 115px;
 }
 .row-1 p {
     text-align: center;
 }
 .row-1 li{
     text-align: center;
 }
 .row-1 h3{
     text-align: center;
 }
 /*row 2*/
 .row-2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }
 .row-2 img{
    width: 115px;
}
.row-2 p {
    text-align: center;
}
.row-2 li{
    text-align: center;
}
.row-2 h3{
    text-align: center;
}
 /*row 3*/
 .row-3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }
 .row-3 img{
    width: 115px;
}
.row-3 p {
    text-align: center;
}
.row-3 li{
    text-align: center;
}
.row-3 h3{
    text-align: center;
}
.budgies img{
    min-height: 91px;
}
/*row 4*/
.row-4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }
 .row-4 img{
    width: 115px;
}
.row-4 p {
    text-align: center;
}
.row-4 li{
    text-align: center;
}
.row-4 h3{
    text-align: center;
}
/* footer*/
footer{

margin-bottom: 0%;
}