/* element item styles */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}

html, body{
    height: 100%;
    background-color:papayawhip ;
}
h1{
    font-family: 'Sriracha', cursive;
    color:turquoise ;
    font-size: 2.8rem;
    text-shadow: 2px 2px violet;
}
h2{
    text-align: center;
    color: violet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul{
    list-style-type: none;
    font-size: 1.5rem;
}
a{  color:seashell;
    text-decoration: none;
}

/* element layout header */
.main-header{
    background-image: url("images/Caribbean-beach.jpg");
    background-position: center;
    background-size: cover, 250px;
    background-repeat: no-repeat;
    background-color: lightslategray;
    background-blend-mode:multiply;
}
.main-header h1, .nav{
    text-align: center;
}
.main-header h2{
    text-shadow: 1px 1px turquoise;
}
.creator{
    padding: 20px 0 70px 0;
}
.nav li{
    display: block;
    padding: 10px 0 10px 0;
}
.nav li a {
    color:darkolivegreen ;
}
.products{
    background-color: whitesmoke;
    border: solid black 1px;
}
.coming-soon{
    background-color: whitesmoke;
    border: solid black 1px;
    border-top: none;
}
.shop{
    background-color: whitesmoke;
    border: solid black 1px;
    border-bottom:none;
}
.prices{
    background-color: whitesmoke;
    border: solid black 1px;
    border-top:none;
}
.main-header img{
    width: 75px;
    border: solid tomato 1px;
    border-radius: 50%;
    float: right;
    height: 75px;
}
.main-header h2{
    float: left;
    padding: 0 0 0 20px;
}
.logo{
    margin: -15px 30px 0 0;
    box-shadow: 0px 0px 5px gold;
}

/* about myself section*/
.about-me{
margin: 30px 20px 30px 20px;
border: solid lightskyblue 2px;
border-radius: 10px 20px 10px 20px;
padding: 10px 10px 10px 10px;
font-size: 1.2rem;
/* background-color: linen; */
background-image: linear-gradient(to bottom, lightcoral 25%, lightpink 50%, honeydew 75%, mistyrose 100%);
line-height:1.3 ;
}
.about-me h2{
    margin: 0 0 10px 0;
    color: indigo;
}
.about-me p{
    font-family: Arial, Helvetica, sans-serif;
}

/* a few pictures*/
.images{
    margin-top: 40px;
    font-size: 1.2rem;
}
.images h2{
    background-image: linear-gradient(to right, aqua 25%, orchid 50%, palegreen 75%, gold 100%);
    padding: 10px 0 10px 0;
    color: black;
}
.pictures{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.goku{
width: 150px;
margin-bottom: 30px;
margin-right: 20px;
border: solid black 1px;
border-radius: 30% 35% 30% 35%;
box-shadow: 3px 5px 15px darkslategray;
}
.mermaid{
    width: 150px;
    margin-bottom: 30px;
    border: solid black 1px;
    border-radius: 30% 35% 30% 35%;
    box-shadow: 3px 5px 15px darkslategray;
}
.sad-girl{
width: 150px;
margin-bottom: 30px;
margin-right: 20px;
border: solid black 1px;
border-radius: 30% 35% 30% 35%;
box-shadow: 3px 5px 15px darkslategray;
}
.bows{
    width: 150px;
    margin-bottom: 30px;
    border: solid black 1px;
    border-radius: 30% 35% 30% 35%;
    box-shadow: 3px 3px 15px darkslategray;
}
.broly{
    box-shadow:  5px 10px 20px darkslategray;
    margin-bottom: 30px;
    animation: tilt 2s infinite;
    animation-direction: alternate;
}
@keyframes tilt{
    0% {
        transform:rotate(6deg)
    }
    100%{
        transform:rotate(-5deg)
    }
}


/* social media tags*/
.social-media{
    text-align: center;
    margin-bottom: 30px;
    background-color: lightslategray;
    padding: 10px 0 10px 0;
}
.social-media li{
    display: inline-block;
}
.social-media li a{
    text-decoration: none;
    margin-right: 10px;
}
.social-media li {
    color: seashell;
}
.fa-instagram{
    padding-right:25px;
}
.fa-twitter{
color: lightskyblue;
}
.fa-instagram{
    color: palevioletred;
}

 
/*footer*/

/*flex-box*/
@media (min-width: 600px){
    .creator{
        display: flex;
        flex-direction: column;
    }
    .logo{
            align-self: center;
            margin: 30px 0 0 0;
            min-width: 150px;
            min-height: 150px;
            margin-bottom: -40px;

    }
    .pictures{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
}
@media (min-width: 1105px) {
    .main-header{
        display: flex;
        width: 100%;
    }
    .creator{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        padding-left: 50px;
    }
    .main-header{
        width: 100%;
        font-size: 1.5rem;
    }
    .main-header h1{
        font-size: 4rem;
    }
    .nav{
        margin: 30px 0 0 100px;
        width: 300px;
    }
    .logo{
        align-self:flex-start;
        margin: -150px 0 0 550px;
        max-width: 300px;
    }
    .main-header img{
        width: 8%;
        height: 8%;
    }
    .about-me{
        margin: 50px auto 50px auto;
        max-width: 800px;
    }
    .images h2{
        max-width: 60%;
        margin: 0 auto;
    }
    .pictures{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .social-media{
    display: flex;
    justify-content: center;
    margin: 50px auto 50px auto;
    max-width: 50%;
    }
    .social-media li a{
        font-size: 2rem;
        padding: 0 40px 0 40px;
    }
}
@media (min-width: 1631px) {
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top:20px ;
        margin-bottom: auto;
        margin-left: auto;
        flex-wrap: wrap;
        width: auto;
    }
    .nav li{
        align-content: flex-end;
    }
    .nav li a{
        font-size: 1.5rem;
        padding: 0px 30px 0px 30px;

    }
    .products{
        margin: auto 20px auto 0px;
    }
    .shop{
        margin-top: 0;
        margin-bottom: 1px;
        border-bottom: solid black 1px;
        margin: auto 20px auto 20px;
    }
    .coming-soon{
        margin-right: 20px;
        border-top: solid black 1px;
    }
    .prices{
        margin-right: 20px;
    }
    .pictures{
        margin-left: 25%;
        margin-right: 25%;
    }
}