/* element item styles */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}

html, body{
    height: 100%;
    background-color:papayawhip ;
}
h1{
    font-family: 'Sriracha', cursive;
    color:turquoise ;
    font-size: 2.8rem;
}
h2{
    text-align: center;
    color: violet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul{
    list-style-type: none;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
}

/* element layout header */
.main-header{
}
.main-header h1, .nav{
    text-align: center;
}
.creator{
    background-image: url("images/Caribbean-beach.jpg");
    background-position: center;
    background-size: cover, 250px;
    background-repeat: no-repeat;
    background-color: lightslategray;
    background-blend-mode:multiply;
    padding: 20px 0 70px 0;
}
.nav li{
    display: block;
    padding: 10px 0 10px 0;
}
.nav li a {
    color:darkolivegreen ;
}
.products{
    background-color: whitesmoke;
    margin: 0 20px 0 20px;
    border: solid black 1px;
}
.coming-soon{
    background-color: whitesmoke;
    margin: 0 20px 0 20px;
    border: solid black 1px;
    border-top: none;
}
.shop{
    background-color: whitesmoke;
    margin: 20px 20px 0 20px;
    border: solid black 1px;
    border-bottom:none;
}
.main-header img{
    width: 75px;
    border: solid tomato 1px;
    border-radius: 50%;
    float: right;
    height: 75px;
}
.main-header h2{
    float: left;
    padding: 0 0 0 20px;
}
.logo{
    margin: -15px 30px 0 0;
}

/* about myself section*/
.about-me{
margin: 30px 20px 30px 20px;
border: solid lightskyblue 2px;
border-radius: 10px 20px 10px 20px;
padding: 10px 10px 10px 10px;
font-size: 1.2rem;
/* background-color: linen; */
background-image: linear-gradient(to bottom, lightcoral 25%, lightpink 50%, honeydew 75%, mistyrose 100%);
line-height:1.3 ;
}
.about-me h2{
    margin: 0 0 10px 0;
    color: indigo;
}
.about-me p{
    font-family: Arial, Helvetica, sans-serif;
}

/* a few pictures*/
.images{
    margin-top: 40px;
    font-size: 1.2rem;
}
.images img{
    border: solid black 1px;
    border-radius: 30% 35% 30% 35%;
    box-shadow: 5px 10px 8px darkslategray;
}
.images h2{
    background-image: linear-gradient(to right, aqua 25%, orchid 50%, palegreen 75%, gold 100%);
    padding: 10px 0 10px 0;
    color: black;
}
.pictures{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.goku{
width: 300px;
margin-bottom: 30px;
}
.mermaid{
    width: 300px;
    margin-bottom: 30px;
}
.sad-girl{
width: 300px;
margin-bottom: 50px;
}
.social-media{
    text-align: center;
    margin-bottom: 30px;
    background-color: lightslategray;
    padding: 10px 0 10px 0;
}
.social-media li{
    display: inline-block;
}
.social-media li a{
    text-decoration: none;
    margin-right: 10px;
    color:whitesmoke;
}
.fa-instagram{
    padding-right:25px;
}

 
/*footer*/

/*flex-box*/
@media (min-width: 1000px) {
    .creator{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }
    .main-header{
        width: 100%;
        font-size: 1.5rem;
    }
    .main-header h1{
        font-size: 4rem;
    }
    .nav{
        display: flex;
        flex-direction: row;
        justify-content:center;
        background-color: black;
    }
    .nav li a{
        font-size: 2rem;
        padding: 19px 100px 10px 100px;
        background-color: whitesmoke;
    }
    .logo{
        align-self: center;
        margin: 30px 0 0 0;
        width: 500px;
    }
    .main-header img{
        width: 10%;
        height:10%;
        min-width: 100px
    }
    .about-me{
        margin: 50px auto 50px auto;
        max-width: 800px;
    }
    .images h2{
        max-width: 90%;
        margin: 0 auto;
    }
    .pictures{
        display: flex;
        justify-content: space-evenly;
    }
    .social-media{
    display: flex;
    justify-content: center;
    margin: 50px auto 50px auto;
    max-width: 90%;
    }
    .social-media li a{
        font-size: 2rem;
        padding: 0 70px 0 70px;
    }
}
@media (min-width: 1500px) {
    
}